/* tabled */
@media(max-width:1000px){
    .header-logo{
        margin-left: 20px;
    }
    .workplace-content{
        flex-wrap: wrap;
    }
    .workplace-kiri,.workplace-kanan{
        width: 90%;
    }
    .workplace-kiri{
        margin-bottom: 30px;
        box-sizing: border-box;
    }
    .workplace-kanan h4{
        text-align: center;
    }
    .kiri{
        left: -250px;
        transition: 0.5s;
    }
    .kanan{
        right: -250px;
        transition: 0.5s;
    }
    /* footer */
    .myFooter{
        justify-content: space-evenly;
    }
    .logo-footer{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .logo-footer img{
        width: 200px;
    }
    .kotak{
        width: 30%;
    }
}



/* handpon */
@media(max-width:670px){
    .header-logo{
        margin-left: 20px;
    }
    .header-list{
        display: none;
    }
    .menu-icon{
        display: block;
        color: white;
        padding: 15px 0 15px 0px;
        margin-right: 20px;
        text-align: right;
        font-size: 30px;
    }
    .header-menu{
        float: left;
        width: 100%;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
    }
    .header-list li a{
        width: 100%;
    }

    .heading-wrapper h1{
        font-size: 40px;
    }
    .heading-wrapper h2{
        font-size: 20px;
    }
    .garis{
        width: 50%;
    }
    .workplace-content{
        flex-wrap: wrap;
    }
    .workplace-kiri,.workplace-kanan{
        width: 90%;
    }
    .workplace-kiri{
        margin-bottom: 30px;
        box-sizing: border-box;
    }
    .workplace-kanan h4{
        text-align: center;
    }
    /* our team */
    .garis{
        width: 50%;
    }
    .prof1, .prof2, .prof4, .prof5{
        width: 0;
        height: 0;
        display: none;
    }
    .geser{
        transform: translateX(-100px);
        opacity: 0;
        transition: 1s;
    }

    /* footer */
    .myFooter{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .garisFooter{
        margin: 0 auto;
    }
    .kotak{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        text-align: left;
    }
    .teamFooter{
        padding-left: 10px;
    }
}
