.main{
    width: 100%;
    background: linear-gradient(rgba(33,33,33,0.8), rgba(240,240,240));
    padding: 100px 0;
    text-align: center;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.heading h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #ddd;
}
.garis{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1.5px solid #ddd;
    border-radius: 2px;
}
.myTeam{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.profile{
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
}
.foto-profile{
    width: 150px;
    height: 150px;
    margin: 15px auto;
    /* border: 3px solid rgb(212, 212, 212);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.7); */
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
.foto-profile img{
    border: 3px solid rgb(212, 212, 212);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.7);
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.prof1{
    margin-right: -160px;
}
.prof2{
    margin-right: -130px;
}
.prof3{
    z-index: 2;
}
.prof4{
    margin-left: -130px;
    z-index: 1;
}
.prof5{
    margin-left: -160px;
}
.foto-prof2, .foto-prof4{
    width: 120px;
    height: 120px;
    opacity: 0.6;
}
.foto-prof1, .foto-prof5{
    width: 90px;
    height: 90px;
    opacity: 0.3;
}
.foto-prof2 img, .foto-prof4 img{
    width: 120px;
    height: 120px;
}
.foto-prof1 img, .foto-prof5 img{
    width: 90px;
    height: 90px;
}
.title{
    margin-top: 25px;
    color: #555;
}
.title h4{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Teko', sans-serif;
    font-style: italic;
    text-shadow: 0 0 1px #fff;
}
.title p{
    margin: 8px 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Teko', sans-serif;
    font-style: italic;
    color: rgb(41, 136, 245);
}

.geser{
    transform: translateX(-100px) scale(0.5);
    opacity: 0;
    transition: 1s;
}
.geser1{
    transform: translateX(-100px) scale(1.5);
    opacity: 0;
    transition: 1s;
}
